{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div>
    <h1>Importar Certificados do Excel</h1>
    <p>Selecione um arquivo Excel (.xlsx ou .xls) contendo os dados dos certificados.</p>
    <p>O arquivo deve conter as seguintes colunas:</p>
    <ul>
        <li>Nome do usuário</li>
        <li>CPF do usuário</li>
        <li>Nome do curso</li>
        <li>Data início do curso</li>
        <li>Data final do curso</li>
    </ul>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="excel_file">Arquivo Excel:</label>
            <input type="file" name="excel_file" id="excel_file" accept=".xlsx, .xls" required>
        </div>
        <br>
        <div>
            <input type="submit" value="Importar Certificados">
        </div>
    </form>
    <br>
    <a href="{% url 'admin:certificados_certificado_changelist' %}" class="button">Voltar para a lista de certificados</a>
</div>
{% endblock %}
